/* line 2, ../sass/ie.scss */
#tools li {
  float: left;
}

/* line 4, ../sass/ie.scss */
#machine, #other-info {
  margin-top: 50px;
}

/* line 6, ../sass/ie.scss */
#puncher-button {
  position: relative;
  top: 30px;
  margin-top: 0px !important;
}

/* line 12, ../sass/ie.scss */
#navigation {
  background: orange;
}
/* line 15, ../sass/ie.scss */
#navigation .left {
  float: left;
  padding: 10px 15px;
  color: white !important;
}
/* line 20, ../sass/ie.scss */
#navigation li {
  float: right;
}
/* line 23, ../sass/ie.scss */
#navigation li a {
  color: white !important;
}
