/* line 2, ../sass/preferences.scss */
#preferences p {
  display: block;
  width: 100%;
  padding: 8px 5px;
  margin-bottom: 10px;
}
/* line 8, ../sass/preferences.scss */
#preferences input[type="text"] {
  height: 23px;
  margin-left: 10px;
}
/* line 12, ../sass/preferences.scss */
#preferences input[type="submit"] {
  display: block;
  float: right;
  margin-top: -1px;
}
