/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/** Font-Face **/
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("eot"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 15, ../sass/style.scss */
body {
  font-family: sans-serif;
  font-size: 0.9em;
  padding-top: 20px;
  color: white;
  background: url(../images/micro_carbon.png);
}

/* line 23, ../sass/style.scss */
#machine, #other-info {
  width: 450px;
  margin: 35px auto 0;
  background: #222222;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(top, #333333, #111111);
  background-image: -moz-linear-gradient(top, #333333, #111111);
  background-image: -o-linear-gradient(top, #333333, #111111);
  background-image: linear-gradient(top, #333333, #111111);
  border-radius: 20px;
  border: 1px solid black;
  border-bottom-width: 5px;
  z-index: 1000;
}
/* line 1, ../sass/other-info.scss */
#machine .form-wrapper, #other-info .form-wrapper {
  padding: 0 20px;
  margin-bottom: 20px;
}
/* line 5, ../sass/other-info.scss */
#machine .form-wrapper table, #other-info .form-wrapper table {
  width: 100%;
  margin: 20px 0;
}
/* line 9, ../sass/other-info.scss */
#machine .form-wrapper table input, #other-info .form-wrapper table input {
  width: 100%;
}
/* line 11, ../sass/other-info.scss */
#machine .form-wrapper table td, #other-info .form-wrapper table td {
  padding: 2px 0;
}
/* line 14, ../sass/other-info.scss */
#machine .form-wrapper table td input, #other-info .form-wrapper table td input {
  text-indent: 5px;
  text-align: left;
}
/* line 20, ../sass/other-info.scss */
#machine .form-wrapper .left, #other-info .form-wrapper .left {
  float: left;
}
/* line 21, ../sass/other-info.scss */
#machine .form-wrapper .right, #other-info .form-wrapper .right {
  float: right;
}
/* line 24, ../sass/other-info.scss */
#machine .form-wrapper .right a, #other-info .form-wrapper .right a {
  margin-top: -5px;
}
/* line 31, ../sass/other-info.scss */
#machine .buttons-bar, #other-info .buttons-bar {
  border-top: 1px solid black;
  height: 50px;
  width: 100%;
}
/* line 36, ../sass/other-info.scss */
#machine .buttons-bar input, #other-info .buttons-bar input {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0 0 20px 20px;
  font-size: 1.2em;
}
/* line 44, ../sass/other-info.scss */
#machine .buttons-bar input[type="submit"], #machine .buttons-bar input[type="reset"], #other-info .buttons-bar input[type="submit"], #other-info .buttons-bar input[type="reset"] {
  border: none;
  background: none;
}
/* line 50, ../sass/other-info.scss */
#machine p.message, #other-info p.message {
  margin: 20px;
  text-align: center;
}
/* line 54, ../sass/other-info.scss */
#machine p.message a, #other-info p.message a {
  border-radius: 10px;
  padding: 5px 10px;
}

/* line 35, ../sass/style.scss */
#machine {
  height: 200px;
}
/* line 38, ../sass/style.scss */
#machine #puncher-container {
  height: 159px;
  border-bottom: 1px solid black;
  font-family: "FontAwesome";
}
/* line 43, ../sass/style.scss */
#machine #puncher-container section#puncher-section {
  background: url(../images/micro_carbon.png);
  border-radius: 100px;
  border: 1px solid black;
  height: 130px;
  width: 130px;
  -webkit-box-shadow: inset 0px 3px 0px black;
  -moz-box-shadow: inset 0px 3px 0px black;
  box-shadow: inset 0px 3px 0px black;
  margin: auto;
  position: relative;
  top: 15px;
}
/* line 54, ../sass/style.scss */
#machine #puncher-container section#puncher-section #knob-wrapper {
  position: absolute;
}
/* line 57, ../sass/style.scss */
#machine #puncher-container section#puncher-section canvas {
  margin: 1px 0;
}
/* line 60, ../sass/style.scss */
#machine #puncher-container a#puncher-button {
  border-radius: 100px;
  border: 1px solid black;
  font-size: 6em;
  display: block;
  width: 100px;
  height: 100px;
  margin: 15px 14px;
  color: #888;
  text-shadow: #333333 0px 3px 2px, #111111 0px -2px 1px;
  position: absolute;
}
/* line 72, ../sass/style.scss */
#machine #puncher-container a#puncher-button:hover, .checked_in #machine #puncher-container a#puncher-button {
  text-shadow: 0 0 10px white;
  color: white;
}
/* line 77, ../sass/style.scss */
#machine #puncher-container a#puncher-button span {
  display: block;
  padding: 15px 19px;
}
/* line 86, ../sass/style.scss */
#machine #tools-container li {
  display: inline-block;
  border-left: 1px solid black;
  font-size: 1.2em;
}
/* line 91, ../sass/style.scss */
#machine #tools-container li a {
  width: 111.5px;
  height: 30px;
  display: block;
  text-align: center;
  padding-top: 10px;
}
/* line 99, ../sass/style.scss */
#machine #tools-container li:first-child {
  border: none;
}
/* line 102, ../sass/style.scss */
#machine #tools-container li:first-child a {
  border-radius: 0 0 0 20px;
  width: 112.5px;
}
/* line 106, ../sass/style.scss */
#machine #tools-container li:last-child a {
  border-radius: 0 0 20px 0;
}

/* line 113, ../sass/style.scss */
#content {
  background: url(../images/escheresque_ste.png);
  width: 390px;
  min-height: 200px;
  margin: 0 auto 20px;
  padding: 10px;
  padding-top: 15px;
  border-radius: 0 0 20px 20px;
  border: 1px solid black;
  border-bottom-width: 3px;
  border-top: none;
  color: #cccccc;
  position: relative;
  top: -2px;
}
/* line 1, ../sass/stats.scss */
#content .stats, #content #data-table {
  width: 100%;
}
/* line 4, ../sass/stats.scss */
#content .stats td, #content #data-table td {
  padding: 2px 10px;
}
/* line 5, ../sass/stats.scss */
#content .stats td:first-child, #content #data-table td:first-child {
  width: 40%;
}
/* line 6, ../sass/stats.scss */
#content .stats tr:first-child td, #content #data-table tr:first-child td {
  padding-top: 5px;
}
/* line 7, ../sass/stats.scss */
#content .stats tr:last-child td, #content #data-table tr:last-child td {
  padding-bottom: 10px;
}
/* line 11, ../sass/stats.scss */
#content .stats thead th p, #content #data-table thead th p {
  padding: 8px 5px;
  text-align: left;
  float: left;
  color: white;
  width: 170px;
}
/* line 19, ../sass/stats.scss */
#content .stats thead th div, #content #data-table thead th div {
  float: right;
  padding-top: 3px;
}
/* line 25, ../sass/stats.scss */
#content .stats thead .multi-button, #content .stats thead #machine .form-wrapper .right a, #machine .form-wrapper .right #content .stats thead a, #content .stats thead #other-info .form-wrapper .right a, #other-info .form-wrapper .right #content .stats thead a, #content #data-table thead .multi-button, #content #data-table thead #machine .form-wrapper .right a, #machine .form-wrapper .right #content #data-table thead a, #content #data-table thead #other-info .form-wrapper .right a, #other-info .form-wrapper .right #content #data-table thead a {
  margin-top: -2px;
}
/* line 30, ../sass/stats.scss */
#content .stats tbody tr:first-child td, #content #data-table tbody tr:first-child td {
  padding-top: 10px;
}
/* line 2, ../sass/preferences.scss */
#content #preferences p.beveled-bg {
  margin-bottom: 15px;
}
/* line 6, ../sass/preferences.scss */
#content #preferences input {
  margin-left: 10px;
  text-align: center;
  text-indent: 0;
}
/* line 11, ../sass/preferences.scss */
#content #preferences input[type="submit"] {
  float: right;
  margin-top: -5px;
  font-size: 1em;
}
/* line 4, ../sass/punches.scss */
#content #punches #checks-nav-button a#previous {
  float: left;
  border-radius: 10px 0 0 0;
}
/* line 8, ../sass/punches.scss */
#content #punches #checks-nav-button a#next {
  float: right;
  border-radius: 0 10px 0 0;
}
/* line 12, ../sass/punches.scss */
#content #punches #checks-nav-button a {
  padding: 10px;
}
/* line 15, ../sass/punches.scss */
#content #punches .check_date {
  text-align: center;
  padding: 10px 0;
  background: #222222;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(top, #333333, #111111);
  background-image: -moz-linear-gradient(top, #333333, #111111);
  background-image: -o-linear-gradient(top, #333333, #111111);
  background-image: linear-gradient(top, #333333, #111111);
  color: white;
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
}
/* line 25, ../sass/punches.scss */
#content #punches table.inputs {
  width: 100%;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
}
/* line 31, ../sass/punches.scss */
#content #punches table.inputs tr:nth-child(2n - 1) {
  background: #111111;
}
/* line 39, ../sass/punches.scss */
#content #punches table.inputs td {
  padding: 5px;
}
/* line 42, ../sass/punches.scss */
#content #punches table.inputs td input {
  margin-left: 10px;
}
/* line 46, ../sass/punches.scss */
#content #punches table.inputs td a.button.add {
  padding: 5px 0;
  width: 100%;
  display: block;
  text-align: center;
  border-width: 1px 0 1px 0;
  background: none;
}
/* line 56, ../sass/punches.scss */
#content #punches input[type="submit"], #content #punches input[type="reset"] {
  margin: 0;
  width: 50%;
  float: left;
  border-radius: 0 0 10px 0;
  border-left: 0;
}
/* line 63, ../sass/punches.scss */
#content #punches input[type="reset"] {
  border-left: 1px solid black;
  border-radius: 0 0 0 10px;
}
/* line 2, ../sass/data.scss */
#content #data #export {
  margin: 10px;
  margin-top: 20px;
  padding: 10px;
  display: block;
  text-align: center;
  border-radius: 10px;
}
/* line 11, ../sass/data.scss */
#content #data td:first-child {
  width: 45% !important;
}
/* line 15, ../sass/data.scss */
#content #data p {
  margin: 15px 10px;
  text-align: justify;
  line-height: 1.2em;
}
/* line 20, ../sass/data.scss */
#content #data p.beveled-bg {
  margin: 0;
  margin-bottom: 10px;
  padding: 8px 5px;
}
/* line 26, ../sass/data.scss */
#content #data #data-table {
  margin-bottom: 10px;
}

/* line 134, ../sass/style.scss */
ul#navigation {
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: right;
  border-bottom: 2px solid black;
}
/* line 142, ../sass/style.scss */
ul#navigation li {
  display: inline-block;
  border-left: black 1px solid;
}
/* line 145, ../sass/style.scss */
ul#navigation li a {
  padding: 10px 15px;
  display: block;
}

/* line 152, ../sass/style.scss */
#content a, #puncher-container a, #navigation, #other-info a, input[type="submit"], input[type="reset"] {
  background: #222222;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(top, #333333, #111111);
  background-image: -moz-linear-gradient(top, #333333, #111111);
  background-image: -o-linear-gradient(top, #333333, #111111);
  background-image: linear-gradient(top, #333333, #111111);
  border: 1px solid black;
}

/* line 157, ../sass/style.scss */
a, a:focus, a:visited, input[type="submit"], input[type="reset"] {
  color: #cccccc;
  text-decoration: none;
  cursor: pointer;
}

/* line 163, ../sass/style.scss */
input {
  border-radius: 10px;
  text-align: center;
}

/* line 168, ../sass/style.scss */
input[type="submit"], input[type="reset"] {
  padding: 7px 9px;
}

/* line 172, ../sass/style.scss */
a:hover, a.active, input[type="submit"]:hover, input[type="reset"]:hover {
  color: white;
  text-shadow: 0 0 10px white;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.5), inset 0 -2px 3px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.5), inset 0 -2px 3px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.5), inset 0 -2px 3px rgba(255, 255, 255, 0.2);
}

/* line 180, ../sass/style.scss */
.multi-button, #machine .form-wrapper .right a, #other-info .form-wrapper .right a {
  padding: 5px 7px;
  border-right: none !important;
  display: inline-block;
  z-index: 0;
}
/* line 186, ../sass/style.scss */
.multi-button:first-child, #machine .form-wrapper .right a:first-child, #other-info .form-wrapper .right a:first-child {
  border-radius: 10px 0 0 10px;
  padding-left: 10px;
}
/* line 190, ../sass/style.scss */
.multi-button:last-child, #machine .form-wrapper .right a:last-child, #other-info .form-wrapper .right a:last-child {
  border-radius: 0 10px 10px 0;
  border-right: 1px solid black;
}

/* line 196, ../sass/style.scss */
.beveled-bg {
  background-color: #0062a8;
  background: linear-gradient(210deg, transparent 30px, #0062a8 20px);
  background-size: 95% 100%;
  background-repeat: no-repeat;
  padding: 8px 5px;
  color: white;
}
/* line 204, ../sass/style.scss */
.overtime.checked_in .beveled-bg {
  background: linear-gradient(210deg, transparent 30px, #dd7000 20px);
}
/* line 205, ../sass/style.scss */
.overtime_absolute.checked_in .beveled-bg {
  background: linear-gradient(210deg, transparent 30px, #bb0000 20px);
}

/* line 208, ../sass/style.scss */
.charts-tooltip {
  color: black;
}

/* line 212, ../sass/style.scss */
strong {
  font-weight: bold;
}

/* line 216, ../sass/style.scss */
.success {
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 10px;
  background: rgba(0, 90, 0, 0.5);
  color: green;
}

/* line 225, ../sass/style.scss */
.checked_in .has_light {
  -webkit-box-shadow: 0 0 30px #0095ff;
  -moz-box-shadow: 0 0 30px #0095ff;
  box-shadow: 0 0 30px #0095ff;
}
/* line 226, ../sass/style.scss */
.overtime.checked_in .has_light {
  -webkit-box-shadow: 0 0 30px #ff9500;
  -moz-box-shadow: 0 0 30px #ff9500;
  box-shadow: 0 0 30px #ff9500;
}
/* line 227, ../sass/style.scss */
.overtime_absolute.checked_in .has_light {
  -webkit-box-shadow: 0 0 30px red;
  -moz-box-shadow: 0 0 30px red;
  box-shadow: 0 0 30px red;
}

/* line 229, ../sass/style.scss */
.has_back, #content #punches table.inputs tr:hover, a:hover, a.active, input[type="submit"]:hover, input[type="reset"]:hover {
  background: #0062A8 !important;
}
/* line 231, ../sass/style.scss */
.checked_in .has_back, .checked_in #content #punches table.inputs tr:hover, #content #punches table.inputs .checked_in tr:hover, .checked_in a:hover, .checked_in a.active, .checked_in input[type="submit"]:hover, .checked_in input[type="reset"]:hover {
  background: #0062A8 !important;
}
/* line 232, ../sass/style.scss */
.overtime.checked_in .has_back, .overtime.checked_in #content #punches table.inputs tr:hover, #content #punches table.inputs .overtime.checked_in tr:hover, .overtime.checked_in a:hover, .overtime.checked_in a.active, .overtime.checked_in input[type="submit"]:hover, .overtime.checked_in input[type="reset"]:hover {
  background: #DD7000 !important;
}
/* line 233, ../sass/style.scss */
.overtime_absolute.checked_in .has_back, .overtime_absolute.checked_in #content #punches table.inputs tr:hover, #content #punches table.inputs .overtime_absolute.checked_in tr:hover, .overtime_absolute.checked_in a:hover, .overtime_absolute.checked_in a.active, .overtime_absolute.checked_in input[type="submit"]:hover, .overtime_absolute.checked_in input[type="reset"]:hover {
  background: #BB0000 !important;
}
