#data {
	#export {
		margin: 10px;
		margin-top: 20px;
		padding: 10px;
		display: block;
		text-align: center;
		border-radius: 10px;
	}
	
	td:first-child {
		width: 45% !important;
	}
	
	p {
	   margin: 15px 10px;
	   text-align: justify;
	   line-height: 1.2em;
    }
    p.beveled-bg {
        margin: 0;
        margin-bottom: 10px;
        padding: 8px 5px;
    }
    
    #data-table {margin-bottom: 10px;}
}