.box {
	display: inline-block; 
	border: 1px solid $border-color;
	font-size: 65px;
	text-decoration: none;
	color: $disabled;
	@include box-shadow(0px 5px 0px $border-color);
	@include background(linear-gradient(bottom, $box-bottom-color 12%, $box-top-color 65%));
}
.box-active { color: #fff; @include box-shadow(0px 0px 30px $light-color); }
.over-time .box-active { @include box-shadow(0px 0px 30px $warning-color); }
.over-time-for-day .box-active { @include box-shadow(0px 0px 30px $serious-warning-color); }
.corner-left { border-radius: 30px 0 0 30px; }
.corner-right { border-radius: 0 30px 30px 0; }
.progress-label { text-align: center; width: 100%; float: left; margin-top: 5px; text-shadow: 1px 1px 0 $border-color;}

.hidden {display: none;}

.wrong { color: $error-text-color; }
input.wrong { color: $error-text-color; border-color: $error-border-color;}