
#tools li {float: left;}

#machine, #other-info {margin-top: 50px;}

#puncher-button {
	position: relative;
	top: 30px;
	margin-top: 0px !important;
}

#navigation {
    background: orange;
   
    .left { 
        float: left;
        padding: 10px 15px;
        color: white !important;
    }
    li {
        float: right;
        
        a { color: white !important; }
    }
}