/*############################################################################
                                MIXINS
############################################################################*/

@mixin back {
    background: url('../images/micro_carbon.png');
}
@mixin back-content {
    background: url('../images/escheresque_ste.png') !important;
}
@mixin gradient-rounded-box {
	border: 1px solid $border-color;
    border-radius: 10px;
	@include box-shadow(0px 5px 0px $border-color);
    @include background(linear-gradient(bottom, $box-bottom-color 12%, $box-top-color 65%));
}