/*############################################################################
                                MIXINS
############################################################################*/

@mixin back {
    //background: url(../images/brushed_alu.png);
    background: #eee;
}
@mixin back-content {
    background: url(../images/escheresque_ste.png) !important;
}
@mixin gradient-rounded-box {
	border: 1px solid $border-color;
    border-radius: 10px;
	@include box-shadow(0px 6px 0px $border-color);
    //@include background(linear-gradient(bottom, $box-bottom-color 12%, $box-top-color 65%));
    //background: url(../images/metal-texture.jpg);
    background: #ddd;
}
@mixin hover-effect {
	@include text-shadow(white 0px 0px 6px);
	color: white;
}
@mixin my-box-shadow {
	@include box-shadow(inset 0px 3px 3px #e9e9e9, inset 0px -1px 1px $border-color);
}
@function white($opacity){
    @return rgba(255,255,255,$opacity)
}
@function white-shadow($opacity) {
    @return rgba(150,150,150,$opacity)
}