/*############################################################################
                                MIXINS
############################################################################*/

@mixin back {
    background: url(../images/brushed_alu.png);
    //background: $background-color;
}
@mixin back-content {
    background: url(../images/escheresque_ste.png) !important;
}
@mixin gradient-rounded-box {
	border: 1px solid $border-color;
    border-radius: 10px;
	@include box-shadow(0px 6px 0px $border-color);
    //@include background(linear-gradient(bottom, $box-bottom-color 12%, $box-top-color 65%));
    //background: url(../images/metal-texture.jpg);
    cursor: pointer;
    background: #ddd;
}
@mixin hover-effect {
	@include text-shadow(white 0px 0px 6px);
	color: white;
}
@mixin hover-effect-checked-in {
  @include text-shadow($light-color 0px 0px 6px);
  color: $light-color;
}
@mixin other-info-box-shadow {
	@include box-shadow(inset 0px 3px 3px $light-box-color, inset 0px -3px 3px $border-color, 0px 6px 0px $border-color);
}
@mixin my-box-shadow {
	@include box-shadow(inset 0px 3px 3px $light-box-color, inset 0px -1px 1px $border-color);
}
@function white($opacity){
    @return rgba(255,255,255,$opacity)
}
@function white-shadow($opacity) {
    @return rgba(150,150,150,$opacity)
}
@mixin button {
    @include gradient-rounded-box(); 
    @include box-shadow(inset 0 3px 2px $light-box-color, inset 0 -1px 1px $border-color); 
    padding: 5px 10px;
}
@mixin button-hover-effect {
    @include hover-effect();
    @include box-shadow(inset 0 2px 2px $border-color, inset 0 -1px 1px $light-box-color); 
}