// SOME MORE MIXINS
@mixin box-off() {
  height: $puncher-container-height; 
  width: 100%;
  position: relative;
  z-index: 1;
  border-radius: 10px 10px 0 0;
  @include my-box-shadow();
}
@mixin box-on() {
  @include box-off();
  @include box-shadow(inset 0px 3px 3px $border-color);
}
@mixin my-link() {
  display: block;
  padding-top: 30px;
  height: 100%;
  width: 100%;
  font-size: 80px;
  font-family: "FontAwesome";
}
@mixin link-on() {
  @include my-link();
  @include hover-effect();
  padding-top: 35px;
}
@mixin link-off() {
  @include my-link();
  color: white;
  @include text-shadow(#e9e9e9 0px 3px 2px, #aaa 0px -2px 1px ); 
}

// PUNCHER STYLES

#puncher-container { 
  
  @include box-off();
    
    a {
      @include link-off();
      
      .checked_in & {
        @include link-on();
        
        &:hover {
          @include link-off();
        }
      }
      
      &:hover {
        @include link-on();
      }
    }
    
    .checked_in & {
      @include box-on();
      &:hover {
        @include box-off();
      }
    }
    &:hover {
      @include box-on();
    }
}