#puncher-container { 
    height: $puncher-container-height; 
    width: 100%;
    
    a {
        display: block;
        height: 100%;
        width: 100%;
        font-size: 80px;
        font-family: "FontAwesome";
    }
}