/*############################################################################
                                STYLE
############################################################################*/

body { 
    @include back();
    
    #machine { 
        width: $machine-width; 
        margin: 50px auto 0;
        height: $machine-height;
        text-align: center;
		border: 1px $border-color solid;
		border-radius: 10px;
		@include box-shadow(0px 6px 0px $border-color);
            
        @import "puncher.scss";
        @import "tools.scss";
        
        a, a:visited, a:focus { text-decoration: none; color: #333;}
        a:hover { @include hover-effect();}
    }
    
    #content {
        width: $content-width;
        margin: 3px auto;
        min-height: 150px;
        border-radius: 0 0 10px 10px;
        border: white-shadow(0.1) solid 1px;
        @include box-shadow(0px 3px 0px white-shadow(0.1));
        background: white(1);
		position: relative;
		z-index: 3;
    }
}
