$text-color: white;
$text-light-color: white;
$hover-color: white;
$disabled: #ccc;
$machine-width: 400px;
$toolbar-height: 20px;
$background-color: #333;
$border-color: black;

body {
	padding-top: 20px;
	color: $text-color;
	background: url(../images/micro_carbon.png);

	a, a:focus, a:visited {
	    color: $disabled;
	    text-decoration: none;
	}
	
	a:hover {
	    color: $hover-color;
	    @include text-shadow(0 0 3px $text-light-color);
	}
	
	#machine {
	   width: $machine-width;
	   margin: auto;
	}
	#content {
	   background: url(../images/escheresque_ste.png);
	   width: $machine-width - 40px;
       margin: auto;
       padding: 10px;
       
       @import "stats.scss";
	}
	ul#navigation {
		position: absolute;
		bottom: 0;
		background: $background-color;
		width: 100%;
		text-align: right;
		
		li {
		    display: inline-block;
		    border-left: $border-color 1px solid;
		    padding: 5px 15px;
	    }
	}
}