/*############################################################################
                                STYLE
############################################################################*/

html {
	font-family: "MS Shell Dlg";
	font-size: 10pt;
}

body { 
    @include back();
}
#machine { 
  width: $machine-width; 
  margin: 50px auto 0;
  height: $machine-height;
  text-align: center;
  border: 1px $border-color solid;
  border-bottom: 0;
  border-radius: 10px;
  @include box-shadow(0px 6px 0px $border-color);
  background: $box-background-color;
        
  @import "puncher.scss";
  @import "tools.scss";
    
  a, a:visited, a:focus { text-decoration: none; color: #333;}
  a:hover { @include hover-effect();}
}

#content {
    width: $content-width;
    margin: 3px auto;
    min-height: 150px;
    border-radius: 0 0 10px 10px;
    border: white-shadow(0.1) solid 1px;
    @include box-shadow(0px 3px 0px white-shadow(0.1));
    background: white(1);
position: relative;
z-index: 3;
}

#navigation {
	position: absolute;
	top: 0px;
	text-align: right;
	width: 100%;
	padding: 5px 0;
	@include my-box-shadow();
	background: $box-background-color;
	@include box-shadow(inset 0px -1px 3px $border-color);
	
	li {
		display: inline-block;
	}
}
  
@import "other-info.scss";
