#tools-container { 
	border-top: 1px solid $border-color;
	height: $tools-height; 
	overflow: hidden; 
    border-radius: 0 0 10px 10px;
	background: #ddd;
	position: relative;
	z-index: 2;
	
	ul { 
		height: 100%; 
		
		li { 
			@include box-shadow(inset 0px 3px 3px #e9e9e9);
			height: 100%; 
			display: block;
			float: left;
			width: $machine-width * 0.25; 
			text-align: center;
			
			a { 
				display: block; 
				height: 100%; 
				width: 100%;
				padding-top: 12px;
			}
		}
		li:first-child { border: none;}
		li:hover { 
			@include box-shadow(inset 0px 3px 3px $border-color);
			@include hover-effect();
		}
	}
}