/*############################################################################
                                VARIABLES
############################################################################*/

$border-color: #111;
$box-bottom-color:rgb(33,33,33);
$box-top-color:rgb(64,64,64);
$serious-warning-color: #FF2E0A;
$warning-color: #FFBA19;
$light-color: #26B3F7;
$disabled : #999;
$ui-button-text: #ddd;;

$machine-width: 400px;
$machine-height: 170px;
$tools-height: $machine-height * 0.25;
$puncher-container-height: $machine-height * 0.75;

$puncher-height : 132px;
$puncher-section-size : 100px;
$panel-button-width : 100px;
$open-panel-width : 280px;
$open-panel-content-width : $open-panel-width - (60 + 15);


/** Font-Face **/
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format('eot'), 
  	   url("../fonts/fontawesome-webfont.woff") format('woff'), 
  	   url("../fonts/fontawesome-webfont.ttf") format('truetype'), 
  	   url("../fonts/fontawesome-webfont.svg#FontAwesome") format('svg');
  font-weight: normal;
  font-style: normal;
}