RewriteEngine On
RewriteBase /htdocs

RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule .* - [L]

RewriteCond $1 !^(img|phpmyadmin|index\.php|css|captcha|images|fonts|js)
RewriteRule ^(.*)$ index.php/$1 [PT]

RewriteRule ^(css|img|images|fonts|js)/(.*)$ $1/$2 [PT]
