{% extends _layout %}

{% block head %}
  	<link rel="stylesheet" href="/css/dark-hive/jquery-ui.min.css">
  	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
  	<script type="text/javascript" src="/js/jqplot/jquery.jqplot.min.js"></script>
	<script type="text/javascript" src="/js/jqplot/jqplot.canvasTextRenderer.min.js"></script>
	<script type="text/javascript" src="/js/jqplot/jqplot.canvasAxisLabelRenderer.min.js"></script>
	<script type="text/javascript" src="/js/jqplot/jqplot.dateAxisRenderer.min.js"></script>
	<link rel="stylesheet" type="text/css" hrf="/css/jqplot/jquery.jqplot.min.css" />
	
  	<script type="text/javascript" src="/js/data.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function(){
		  var line1 = {{ data_info.overtime }};    
		  var plot1 = $.jqplot('chart1', [line1], {
		    title:'Default Date Axis',
		    axes:{
		        xaxis:{
		            renderer:$.jqplot.DateAxisRenderer
		        }
		    },
		    series:[{lineWidth:4, markerOptions:{style:'square'}}]
		  });
		});
	</script>
{% endblock %}

{% block content %}
<table id="data">
  <tr>
    <td>Nombre de checks : </td>
    <td>{{ data_info.number_of_checks }}</td>
  </tr>
  <tr>
    <td>Pourcentage du mois terminé : </td>
    <td><div id="progressbar"><div class="progress-label">{{ data_info.percent_month }}%</div></div></td>
  </tr>
</table>

<a href="/export" target="blank" id="export" class="button">Exporter les pointages du mois</a>
<div id="chart1"></div>

<div id="dialog-confirm" title="Vidage des pointages">
	<p>
  		<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
  		Attention, en exportant les pointages, ils seront supprimmés de la 
		base de données. Gardez précieusement ce fichier, un duplicata ne 
		pourra vous être fourni.<br /><br />
		Cette action sauvegarde le montant des heures supplémentaires effecutées en base de données
	</p>
</div>

{% endblock %}