{% extends _layout %}

{% block head %}
  	<link rel="stylesheet" href="/css/dark-hive/jquery-ui.min.css">
  	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>	
  	<script type="text/javascript" src="/js/data.js"></script>
{% endblock %}

{% block content %}
<table id="data">
  <tr>
    <td>Nombre de checks : </td>
    <td>{{ data_info.number_of_checks }}</td>
  </tr>
  <tr>
    <td>Pourcentage du mois terminé : </td>
    <td><div id="progressbar"><div class="progress-label">{{ data_info.percent_month }}%</div></div></td>
  </tr>
</table>

<a href="/export" target="blank" id="export" class="button">Exporter les pointages du mois</a>

<div id="dialog-confirm" title="Vidage des pointages">
	<p>
  		<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
  		Attention, en exportant les pointages, ils seront supprimmés de la 
		base de données. Gardez précieusement ce fichier, un duplicata ne 
		pourra vous être fourni.<br /><br />
		Cette action sauvegarde le montant des heures supplémentaires effecutées en base de données
	</p>
</div>

{% endblock %}