{% extends "_layouts/other_info.html.twig" %}

{% block content %}
	<h1>Nos garanties</h1>
    <h2>Anonymat</h2>
    <ul>
        <li>Seuls votre email et mot de passe sont conservés</li>
        <li>Votre mot de passe ne peut pas être récupéré par quelqu'un qui accède à la base de données (mot de passe "haché")</li>
        <li>Le service est accessible en HTTPS, vérifiez l'url. Si vous accédez au service en HTTPS, toute communication entre vous et le site est cryptée. Vous êtes protégé des yeux indiscrets</li>
    </ul>
    <h2>Protection des données</h2>
    <ul>
        <li>Vos pointages ne sont conservés que pendant un mois.</li>
    </ul>
    
	<h1>Nos conseils</h1>
    <h2>Renforcez votre anonymat</h2>
    <ul>
        <li>Utilisez une adresse email jetable ou anonyme</li>
        <li>Vérifiez que l'url commence par https</li>
    </ul>
    <h2>Protégez vos données</h2>
    <ul>
        <li>Gardez les fichiers excels de pointage dans un endroit sécurisé. Un duplicata ne pourra vous être fourni.</li>
    </ul>
    
{% endblock %}