{% extends _layout %}
{% block content %}
<form id="preferences" method="post" action="/preferences">
    <fieldset>
        <legend>Heures / Jour</legend>
        <input type="text" id="hours" name="hours" size="2" maxlength="2" /><label for="hours">h</label>
        <input type="text" id="minutes" name="minutes" size="2" maxlength="2" /><label for="hours">m</label>
        <input type="text" id="seconds" name="seconds" size="2" maxlength="2" /><label for="hours">s</label>
    </fieldset>
    <input type="submit" value="Enregistrer" />
</form>
{% endblock %}