{% extends _layout %}
{% block js %}
    <script type="text/javascript" src="/js/punches.js"></script>
{% endblock %}
{% block content %}
<div id="punches">
    <div id="checks-nav-button">
        <a href="" id="previous">&lt;&lt;</a>
        <a href="" id="next">&gt;&gt;</a>
    </div>

    {% for date, check in checks %}
        <div class="checks">
            <p class="check_date">{{ date }}</p>
            <ul class="check_list">
                {% for sub_check in check %}
                    <li>{{ sub_check.date }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
{% endblock %}
